PORT=3001
CLIENT_ORIGIN=http://localhost:5173


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@example.com
SMTP_PASS=your_app_password_here


CONTACT_TO=recipient@example.com
CONTACT_FROM=your_email@example.com
